amqp
asn1crypto
astor
bcrypt
billiard
celery
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-rest-auth
djangorestframework
gast
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
joblib
kombu
Markdown
more-itertools
# mysqlclient
oauthlib
opt-einsum
pandas
paramiko
protobuf
pycparser
pymysql
PyNaCl
python-dateutil
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
scikit-learn
scipy
six
# sklearn
SQLAlchemy
sqlparse
sshtunnel
sshtunnel
tensorflow-estimator
termcolor
urllib3
vine
Werkzeug
whitenoise
wrapt
zipp
django-google-spanner
#https://github.com/googleapis/python-spanner-django/